:root {
    --primary-blue: #007bff;
    --secondary-blue: #0056b3;
    --primary-orange: #fd7e14;
    --secondary-orange: #e76b00;
}

body {
    font-family: 'Arial', sans-serif;
}

.bg-primary {
    background-color: var(--primary-blue) !important;
}

.btn-primary {
    background-color: var(--primary-orange);
    border-color: var(--primary-orange);
}

.btn-primary:hover {
    background-color: var(--secondary-orange);
    border-color: var(--secondary-orange);
}

/* Ajuste do tamanho e estilo da navbar */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 15px; /* Ajuste o espaçamento interno */
    height: 30px; /* Define a altura total */
}

/* Links dentro da navbar */
.navbar-light .navbar-nav .nav-link {
    color: var(--primary-blue);
    font-size: 16px; /* Ajusta o tamanho do texto */
    padding: 5px 10px; /* Espaçamento interno dos links */
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--secondary-blue);
}

/* Ícone do menu em telas menores */
.navbar-toggler {
    padding: 5px 10px;
}

/* Ajustes no carousel */
#carousel .carousel-item img {
    object-fit: cover;
    height: 400px;
}

#about {
    background-color: #f8f9fa;
}

#faq .accordion-button:not(.collapsed) {
    background-color: var(--primary-orange);
    color: white;
}

#faq .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(253, 126, 20, 0.25);
}

#agendamentos {
    background-color: #f8f9fa;
}

/* Estilo do footer */
footer {
    background-color: var(--primary-blue) !important;
}
